
<div class="fixed-top">
    <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Filter
    </button>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <ul class="justify-content-end list-group" >
            <li ngbDropdown class="list-group-item dropdown show">
                <a class="dropdown-toggle btn btn-primary show" id="dropdown01" 
                ngbDropdownToggle data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                By Category
                </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="list-group-item list-group-item-action" 
                    [class.active]="!category"
                    ngbDropdownItem
                    routerLink="/"
                    aria-haspopup="true" aria-expanded="false">
                    All Category
                    </a>
                    <a 
                    *ngFor="let c of categories$ | async"
                    [routerLink]="['/']"
                    [queryParams]="{category: c.key }"
                    class="list-group-item list-group-item-action"
                    [class.active]="category === c.key"
                    ngbDropdownItem
                    >
                    {{ c.data.name }}</a>
            </div>
            </li>
        </ul>
    </div>
    
</div>
